serverlessDaysIstanbulDemo.json
[{"id":"25f4dbb8.480954","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"17b91996.5b9fb6","type":"inject","z":"25f4dbb8.480954","name":"demoInjector","topic":"IoTDemo","payload":"{\"switch\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[["fcb00fe3.4d749"]]},{"id":"fcb00fe3.4d749","type":"function","z":"25f4dbb8.480954","name":"notGate","func":"\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["76b92fef.07bf5","28b50e06.c20df2"]]},{"id":"28b50e06.c20df2","type":"debug","z":"25f4dbb8.480954","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":500,"wires":[]},{"id":"76b92fef.07bf5","type":"mqtt out","z":"25f4dbb8.480954","name":"","topic":"ServerlessDaysIstanbul","qos":"","retain":"","broker":"2e1b96d1.57971a","x":890,"y":200,"wires":[]},{"id":"2e1b96d1.57971a","type":"mqtt-broker","z":"","name":"","broker":"a160bil619j7jl-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"9b1bed1.227821","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"ServerlessDaysIstanbul","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b1bed1.227821","type":"tls-config","z":"","name":"","cert":"/Users/syusuf/Documents/ServerlessDaysIstanbul/6e6f57ed21-certificate.pem.crt","key":"/Users/syusuf/Documents/ServerlessDaysIstanbul/6e6f57ed21-private.pem.key","ca":"/Users/syusuf/Documents/ServerlessDaysIstanbul/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]